In [1]:
import pandas as pd

In [38]:
raw_births = pd.read_csv("births.csv")

In [39]:
print(raw_births.head())

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [40]:
raw_births["day"].value_counts()

15.0    480
11.0    480
16.0    480
27.0    480
2.0     480
13.0    480
12.0    480
22.0    480
1.0     480
24.0    480
14.0    480
7.0     480
23.0    480
8.0     480
6.0     480
10.0    480
21.0    480
9.0     480
4.0     480
25.0    480
26.0    480
28.0    480
17.0    480
19.0    480
20.0    480
5.0     480
18.0    480
3.0     480
29.0    464
30.0    450
31.0    363
99.0    350
Name: day, dtype: int64

In [41]:
births = raw_births
births['day'].fillna(0, inplace=True) 
births['day'] = births['day'].astype(int)

In [42]:
births['decade'] = 10 * (births['year'] // 10)

In [43]:
births.pivot_table('births', index='decade', columns='gender', aggfunc='sum')

gender         F         M
decade
1960     1753634   1846572
1970    16263075  17121550
1980    18310351  19243452
1990    19479454  20420553
2000    18229309  19106428

In [44]:
print(births.head())

   year  month  day gender  births  decade
0  1969      1    1      F    4046    1960
1  1969      1    1      M    4440    1960
2  1969      1    2      F    4454    1960
3  1969      1    2      M    4548    1960
4  1969      1    3      F    4548    1960

In [45]:
births["day"].value_counts()

0     480
23    480
7     480
22    480
14    480
6     480
21    480
13    480
5     480
28    480
20    480
12    480
4     480
8     480
27    480
19    480
11    480
3     480
26    480
18    480
10    480
2     480
25    480
17    480
9     480
1     480
24    480
16    480
15    480
29    464
30    450
31    363
99    350
Name: day, dtype: int64